.suggested-card {
    width: 100%;
    border:1px solid #f3f4f69d;
    box-shadow: -2px 2px 3px #dadada44;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
    height: fit-content;

    h2 { 
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--gray-800);

    }
    .suggested-users {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .suggested-user-row {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            .suggested-user-info {
                display: flex;
                align-items: center;
                gap: .5rem;
            
                .user-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--gradient-profile);
                    height: clamp(2.875rem, 1.192rem + 1.923vw, 3.5rem);
                    width: clamp(2.875rem, 1.192rem + 1.923vw, 3.5rem);
                    border-radius: 50%;
                    flex-shrink: 0;
                    
                    img {
                        border-radius: 50%;
                        width: 90%;
                        height: 90%;
                        border: 2px solid var(--white);
                        object-fit: cover;
                        object-position: center;
                        flex-shrink: 0;
                        inset: 0;
                    }
                }

                .suggested-user-text {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;
                    .suggested-name {
                        font-size: clamp(0.8rem, 0.747rem + 0.211vw, 1rem);
                        color: var(--gray-800);
                        font-weight: 600;
                    }
                    .suggested-desc {
                        font-size: clamp(0.7rem, 0.229rem + 0.538vw, 0.875rem);
                        color: var(--gray-400);
                        font-weight: 300;
                    }
                }
            }
    
        }
    }
}